version: 2
jobs:
  build:
    machine:
      image: ubuntu-2004:202201-02
    steps:
      - checkout
      - run:
          name: Build and start container
          command: docker-compose up -d

      - run:
          name: Install coverage badge beforte running tests
          command: |
            docker exec -it opentnsim bash -c "pip install coverage coverage-badge "

      - run:
          name: Run tests - Pytest
          command: |
            docker exec -it opentnsim bash -c "python setup.py test"
            docker cp opentnsim:/OpenTNSim/htmlcov /tmp/artifacts

      - run:
          name: Test notebooks
          command: |
            docker exec -it opentnsim bash -c "pytest --nbmake ./notebooks/paper_notebooks/manjiang_et_al_2022 ./notebooks/Example*.ipynb --nbmake-kernel=python3 --ignore ./notebooks/.ipynb_checkpoints --ignore ./notebooks/cleanup --ignore ./notebooks/students --ignore ./notebooks/Example\ load\ digital\ twin\ scenario.ipynb --ignore ./notebooks/Example\ 16\ -\ Energy\ use\ in\ package.ipynb"

      - run:
          name: Build docs
          command: |
            docker exec -it opentnsim bash -c "pip install sphinx"
            docker exec -it opentnsim bash -c "python setup.py docs"
            docker cp opentnsim:/OpenTNSim/docs/_build/html /tmp/artifacts/docs

      - run:
          name: Generate coverage badge
          command: |
            docker exec -it opentnsim bash -c "coverage-badge -o coverage.svg"
            docker cp opentnsim:/OpenTNSim/coverage.svg /tmp/artifacts/

      - store_artifacts:
          path: /tmp/artifacts

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
