pandas>=0.24.0
numpy
simpy
networkx
shapely
scipy
click
matplotlib
pint
pyproj
plotly
simplekml
nose
Flask>=1.0
Flask-cors
sphinx_rtd_theme
Dill
pytest-runner
pytest<7
pytest-cov
pytest-timeout
pytest-datadir
cython
nbmake
pyyaml
openpyxl
folium
colorcet
notebook
jupyter
jupyter-book
tqdm
